<!---
<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Login</h1>
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="width: 50%">
        <div class="row">
            <form method="POST">
                
                <div class="col">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" aria-label="Email">
                </div>
                <br>
                <div class="col">
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-info" style="width: 100%">Login to your Account</button>
                <p>Don't have an account?</p>
                
            </form>
        </div>
    </div>
</body>
</html>


